extends objc

snippet in "@implementation"
@implementation ${1:ClassName}
$2
@end
endsnippet

snippet ie "@interface"
@interface ${1:ClassName}: ${2:NSObject} {
    $3
}

$4
@end
endsnippet

snippet - "method"
-(${1:void}) ${2:methodName} {
    $3
}
endsnippet
